<h2>Lista de los pagos de Pacientes</h2>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Cantidad</th>
    <th>Fecha</th>
    <th>Cargo con Fecha</th>
    <!--<th></th>
    <th></th>
    <th></th>-->
  </tr>

<% @patient_payments.each do |patient_payment| %>
  <tr>
    <td><%= patient_payment.amount %></td>
    <td><%= date_with_format(patient_payment.date) %></td>
    <td><%= patient_payment.patient_charge.patient.person.name + "\n" + date_with_format(patient_payment.patient_charge.date) %></td>
    <!--<td><%= link_to 'Show', patient_payment %></td>
    <td><%= link_to 'Edit', edit_patient_payment_path(patient_payment) %></td>
    <td><%= link_to 'Destroy', patient_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>
