<h1>Listing patient_payments</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Date</th>
    <th>Patient charge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patient_payments.each do |patient_payment| %>
  <tr>
    <td><%= patient_payment.amount %></td>
    <td><%= patient_payment.date %></td>
    <td><%= patient_payment.patient_charge_id %></td>
    <td><%= link_to 'Show', patient_payment %></td>
    <td><%= link_to 'Edit', edit_patient_payment_path(patient_payment) %></td>
    <td><%= link_to 'Destroy', patient_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient payment', new_patient_payment_path %>
