<div class="row-fluid">
  <div class="span6"><h2><%= @person.name %></h2></div>
  <div class="span3">
    <% fecha_actual = Time.now %>
    <% dia_en_que_se_puede_aplicar_recargo = 5 %>
    <% dia_en_que_ya_no_se_puede_aplicar_recargo = 28  %>
    <% if fecha_actual.day > dia_en_que_se_puede_aplicar_recargo and fecha_actual.day < dia_en_que_ya_no_se_puede_aplicar_recargo %>
      <% unless @person.student.nil? %>
        <% cargo = @person.student.student_charges.where('extract(month from date) = ?', fecha_actual.month).first %>
        <% unless cargo.nil? %>
          <% if cargo.liquidated ==  "no" and cargo.surcharge == false %>
            <%= link_to 'Aplicar Recargo ', apply_surcharge_url(cargo.id), :method => :post, :remote => true, :class => "btn", :id => "button_apply_surcharge" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="span1"><%= link_to 'Editar', edit_person_path(@person), :class => "btn btn-info" %></div>
  <div class="span1"><%= link_to 'Eliminar', @person, method: :delete, data: { confirm: "¿Esta seguro que quiere eliminar a #{@person.name}?" }, :class => "btn btn-danger" %></div>
</div>
<div class="well"><h4>El alumno debe $<%= @saldo_general_por_pagar %>.00</h4></div>
<% unless @student.nil? %>
  <% if @student.student_charges.empty? %>
    <p><h4>No tiene cargos de Escuela</h4></p>
  <% else %>
    <p><h4>Cargos de Escuela</h4></p>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th></th>
        <th></th>
        <th>Cantidad</th>
        <th>Recargo</th>
        <th>Liquidado</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <!--<th></th>-->
        <th></th>
      </tr>

      <% @student_charges.each do |student_charge| %>
        <tr>
          <td>
            <% if student_charge.student_payments.empty? %>
              <%= link_to 'Pagar', pay_student_charge_url(student_charge.id), :id => "pay_student_charge_#{student_charge.id}", :method => :post, :remote => true %>
            <% elsif !student_charge.student_payments.empty? %>
              <% paid = 0 %>
              <% student_charge.student_payments.each do |payment| %>
                <% paid = paid + payment.amount %>
              <% end %>
              <% to_pay = student_charge.amount - paid %>
              <% if student_charge.liquidated == "no" %>
                <%= link_to "Liquidar con $#{to_pay}.00", pay_student_charge_url(student_charge.id), :id => "pay_student_charge_#{student_charge.id}", :method => :post, :remote => true %>
              <% end %>
            <% end %>
          </td>
          <!--<td><%= link_to 'Pagar', student_charge %></td>-->
          <td><%= link_to 'Abonar', student_charge %></td>
          <td id="student_charge_amount_<%= student_charge.id %>">$<%= student_charge.amount %>.00</td>
          <td id="student_charge_surcharge_<%= student_charge.id %>"><%= student_charge.surcharge ? "<i class='icon-star'></i>".html_safe : "<i class='icon-remove-sign'></i>".html_safe %></td>
          <td id="student_charge_liquidated_<%= student_charge.id %>"><% unless student_charge.liquidated == "si" %><i class="icon-remove"></i><% else %><i class="icon-ok"></i><% end %></td>
          <td><%= student_charge.description %></td>
          <td><%= date_with_format(student_charge.date) %></td>
          <!--<td><%= link_to 'Editar', edit_student_charge_path(student_charge) %></td>-->
          <td><%= link_to 'Eliminar', student_charge, method: :delete, data: { confirm: "¿Desea eliminar cargo de $#{student_charge.amount}.00?" } %></td>
        </tr>
      <% end %>
    </table>
    <div class="row-fluid"><%= will_paginate @student_charges, :param_name => 'student_page' %></div>
  <% end %>
<% end %>



<% unless @patient.nil? %>
  <% if @patient.patient_charges.empty? %>
    <p><h4>No tiene cargos de CENAAC</h4</p><br/><br/>
    <a data-toggle="modal" href="#new_patient_charge_<%= @patient.id %>" class="btn" type="button">Nueva sesión</a>
      <%= render "people/patient" %>
  <% else %>
    <p><h4>Cargos de CENAAC</h4></p>

    <a data-toggle="modal" href="#new_patient_charge_<%= @patient.id %>" class="btn" type="button">Nueva sesión</a>
      <%= render "people/patient" %>
    <br/>
    <br/>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th></th>
        <th></th>
        <th>Cantidad</th>
        <th>Liquidado</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <!--<th></th>-->
        <th></th>
      </tr>

      <% @patient_charges.each do |patient_charge| %>
        <tr>
          <td>
            <% if patient_charge.patient_payments.empty? %>
              <%= link_to 'Pagar', pay_patient_charge_url(patient_charge.id), :id => "pay_patient_charge_#{patient_charge.id}", :method => :post, :remote => true %>
            <% elsif !patient_charge.patient_payments.empty? %>
              <% paid = 0 %>
              <% patient_charge.patient_payments.each do |payment| %>
                <% paid = paid + payment.amount %>
              <% end %>
              <% to_pay = patient_charge.amount - paid %>
              <% if patient_charge.liquidated == "no" %>
                <%= link_to "Liquidar con $#{to_pay}.00", pay_patient_charge_url(patient_charge.id), :id => "pay_patient_charge_#{patient_charge.id}", :method => :post, :remote => true %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Abonar', patient_charge %></td>
          <td>$<%= patient_charge.amount %>.00</td>
          <td id="patient_charge_liquidated_<%= patient_charge.id %>"><% unless patient_charge.liquidated == "si" %><i class="icon-remove"></i><% else %><i class="icon-ok"></i><% end %></td>
          <td><%= patient_charge.description %></td>
          <td><%= date_with_format(patient_charge.date) %></td>
          <!--<td><%= link_to 'Editar', edit_patient_charge_path(patient_charge) %></td>-->
          <td><%= link_to 'Eliminar', patient_charge, method: :delete, data: { confirm: "¿Desea eliminar cargo de $#{patient_charge.amount}.00?" } %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @patient_charges, :param_name => 'patient_page' %>
  <% end %>
<% end %>
    
