<h1>Listing people</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Nombre</th>
    <th>Category</th>
    <th>Cost</th>
    <th>CENAAC</th>
    <th>Cost</th>
    <% fecha_actual = Time.now-7.hour %>
    <% if fecha_actual.day > 5 %>
    <th>Aplicar Recargo</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.student.nil? ? "" : person.student.category.name %></td>
    <td><%= person.student.nil? ? "" : "$#{person.student.cost}.00" %></td>
    <td><% unless  person.patient.nil? %>
        <i class="icon-ok"></i>
        <% end %>
    </td>
    <td><%= person.patient.nil? ? "" : "$#{person.patient.cost}.00" %></td>
    <% if fecha_actual.day > 5 %>
    <% unless person.student.nil? %>
      <% cargo = person.student.student_charges.where('extract(month from date) = ?', fecha_actual.month).first %>
      <% unless cargo.nil? %>
        <% if cargo.liquidated ==  "no" %>
          <td><%= link_to 'Aplicar', "#" %></td>
        <% else %>
          <td></td>
        <% end %>
      <% else %>
        <td></td>
      <% end %>
    <% else %>
        <td></td>
    <% end %>
    <% end %>
    <td><%= link_to 'Show', person %></td>
    
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    
    
    
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Persona Nueva', new_person_path, :class => "btn btn-info" %><br/>
