
<div class="form-signin">
<table class="table table-striped table-bordered table-condensed lead">
<tr>
  <th>Nombre</th>
  <td><%= @person.name %></td>
</tr>

<% unless @person.student.nil? %>
<tr>
  <th>Grado</th>
  <td><%= @person.student.category.name %> $<%= @person.student.cost %>.00</td>
</tr>
<% end %>

<% unless @person.patient.nil? %>
<tr>
  <th><%= @person.patient.category.name %></th>
  <td>$<%= @person.patient.cost %>.00</td>
</tr>
<% end %>

</table>
<%= link_to 'Ver todas las personas', people_path, :class => "btn btn-large" %>
</div>
