<script type="text/javascript">
  $('.carousel').carousel();
</script>
<%= link_to "<i class='icon-chevron-left'></i> Ir a Categorías".html_safe, categories_path, :class => "btn btn-primary" %>
<% bandera = false %>
<div id="patient_charges" class="carousel slide">
  <% if @category.nil? %>
    <h2>Lista de Cargos de Pacientes</h2>
  <% else %>
    <div class="row-fluid">
      <div class="span8"><h2>Información de <%= @category.name %></h2></div>
    </div>
  <% end %>
  <div class="carousel-inner">
    <% @patient_charges_months.each do |month, patient_charges| %>
      <% not_liquidated = 0 %>
      <% liquidated = 0 %>
      <% amount_receivable = 0 %>
      <% if !bandera %>
        <div class="item active">
      <% else %>
        <div class="item">
      <% end %>

      <% bandera = true if !bandera %>
      <h2><%= traduce_month(month) %></h2>
      <% patient_charges.each do |patient_charge| %>
        <% patient_charge_paid = 0 %>
        <% if patient_charge.liquidated == "no"
            not_liquidated += 1
            if patient_charge.patient_payments.empty?
              amount_receivable += patient_charge.amount
            else
              patient_charge.patient_payments.each do |patient_payment|
                patient_charge_paid += patient_payment.amount
              end
              amount_receivable += patient_charge.amount - patient_charge_paid
            end
        else
            liquidated += 1
        end %>
      <% end %>
      <div class="row-fluid">
        <div class="span3">
          <span class="label">Por cobrar $<%= amount_receivable %>.00</span>
        </div>
        <div class="span3">
          <span class="label label-important">Cargos No Liquidados <%= not_liquidated %></span>
        </div>
        <div class="span3">
          <span class="label label-success">Cargos Liquidados <%= liquidated %></span>
        </div>
        <div class="span3">
          <span class="label label-info">Total de Cargos <%= patient_charges.count %></span>
        </div>
      </div>

      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>Paciente</th>
          <th>Por pagar</th>
          <th>Pagado</th>
          <th>Cantidad</th>
          <th>Liquidado</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <!--<th></th>
          <th></th>
          <th></th>-->
        </tr>
        <% patient_charges.each do |patient_charge| %>
          <tr>
            <td><%= patient_charge.patient.person.name %></td>
            <%
              amount_receivable = 0
              patient_charge_paid = 0
              if patient_charge.patient_payments.empty?
                patient_charge_paid = 0
              else
                patient_charge.patient_payments.each do |patient_payment|
                  patient_charge_paid += patient_payment.amount
                end
              end
              amount_receivable = patient_charge.amount - patient_charge_paid
            %>
            <td>$<%= amount_receivable %>.00</td>
            <td>$<%= patient_charge_paid %>.00</td>
            <td>$<%= patient_charge.amount %>.00</td>
            <td><% unless patient_charge.liquidated == "si" %><i class="icon-remove"></i><% else %><i class="icon-ok"></i><% end %></td>
            <td><%= patient_charge.description %></td>
            <td><%= date_with_format(patient_charge.date) %></td>
            <!--<td><%= link_to 'Detalles', patient_charge %></td>
            <td><%= link_to 'Editar', edit_patient_charge_path(patient_charge) %></td>
            <td><%= link_to 'Eliminar', patient_charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
        <% end %>
      </table>

      <% if !bandera %>
        </div>
      <% else %>
        </div>
      <% end %>
  <% end %>
  </div>
  <a class="carousel-control left" style="left: -50px; top:50px;" href="#patient_charges" data-slide="prev" data-interval="1000000" data-pause="hover">&lsaquo;</a>
  <a class="carousel-control right" style="right: -50px; top:50px;" href="#patient_charges" data-slide="next" data-interval="1000000" data-pause="hover">&rsaquo;</a>
</div>