<h1>Lista de Cargos de Pacientes</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Cantidad</th>
    <th>Liquidado</th>
    <th>Descripción</th>
    <th>Fecha</th>
    <th>Patient_ID</th>
    <th>Paciente</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patient_charges.each do |patient_charge| %>
  <tr>
    <td><%= patient_charge.amount %></td>
    <td><%= patient_charge.liquidated %></td>
    <td><%= patient_charge.description %></td>
    <td><%= patient_charge.date.strftime("%Y-%m-%d %H:%M") %></td>
    <td><%= patient_charge.patient_id %></td>
    <td><%= patient_charge.patient.person.name %></td>
    <td><%= link_to 'Detalles', patient_charge %></td>
    <td><%= link_to 'Editar', edit_patient_charge_path(patient_charge) %></td>
    <td><%= link_to 'Eliminar', patient_charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
