<h2>Lista de Estudiantes</h2>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Nombre</th>
    <th>Categoria</th>
    <th>Costo de Colegiatura</th>
    <!--<th></th>
    <th></th>-->
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.person.name %></td>
    <td><%= student.category.name %></td>
    <td>$<%= student.cost %>.00</td>
    <!--<td><%= link_to 'Detalles', student %></td>
    <td><%= link_to 'Editar', edit_student_path(student) %></td>-->
  </tr>
<% end %>
</table>
