<%= form_for(@student_charge) do |f| %>
  <% if @student_charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_charge.errors.count, "error") %> prohibited this student_charge from being saved:</h2>

      <ul>
      <% @student_charge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :liquidated %><br />
    <%= f.text_field :liquidated %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
