<h1>Lista de Cargos de Estudiantes</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Cantidad</th>
    <th>Recargo</th>
    <th>Liquidado</th>
    <th>Descripción</th>
    <th>Fecha</th>
    <th>Student_ID</th>
    <th>Estudiante</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_charges.each do |student_charge| %>
  <tr>
    <td><%= student_charge.amount %></td>
    <td><%= student_charge.surcharge %></td>
    <td><%= student_charge.liquidated %></td>
    <td><%= student_charge.description %></td>
    <td><%= student_charge.date.strftime("%Y-%m-%d %H:%M") %></td>
    <td><%= student_charge.student_id %></td>
    <td><%= student_charge.student.person.name %></td>
    <td><%= link_to 'Detalles', student_charge %></td>
    <td><%= link_to 'Editar', edit_student_charge_path(student_charge) %></td>
    <td><%= link_to 'Eliminar', student_charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student charge', new_student_charge_path %>
