<div class="row-fluid">
<div class ="span5">
  <h2><%= @student_payment.student_charge.student.person.name %></h2>
<table class="table table-striped table-bordered table-condensed">
<tr>
  <th>Cantidad</th>
  <td><%= @student_payment.amount %></td>
</tr>

<tr>
  <th>Fecha</th>
  <td><%= date_with_format(@student_payment.date) %></td>
</tr>

<tr>
  <th>A un cargo de</th>
  <td><%= @student_payment.student_charge.amount %></td>
</tr>
</table>
</div>
</div>

<%= link_to 'Ver pagos de Estudiantes', student_payments_path, :class => "btn btn-large" %>
