<h1>Lista de Pacientes</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Persona</th>
    <th>Categoría</th>
    <th>Costo de Sesión</th>
    <!--<th></th>
    <th></th>-->
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.person.name %></td>
    <td><%= patient.category.name %></td>
    <td><%= patient.cost %></td>
    <!--<td><%= link_to 'Detalles', patient %></td>
    <td><%= link_to 'Nueva sesion', new_charge_to_patient_path(patient.id) %></td>-->
  </tr>
<% end %>
</table>

<br />
