<table class="table table-bordered table-striped">
<tr>
  <th>Nombre</th>
  <td><%= @category.name %></td>
</tr>

<tr>
  <th>Descripción</th>
  <td><%= @category.description %></td>
</tr>
</table>

<% if @category.name == "CENAAC" %>
  <%= link_to "Información de #{@category.name}", information_patient_charges_path(@category.id), :class => "btn btn-info" %>
<% else %>
  <%= link_to "Información de #{@category.name}", information_student_charges_path(@category.id), :class => "btn btn-info" %>
<% end %>

<%= link_to 'Editar', edit_category_path(@category), :class => "btn" %>
<%= link_to 'Regresar', categories_path, :class => "btn" %>
