<!DOCTYPE html>
<html>
<head>
  <title>Pagos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-right">
        <% unless current_user_session %>
          <li><%= link_to "Iniciar Sesión", signin_path %></li>
        <% else %>
          <li><%= link_to 'Categorias', categories_path %></li>
          <li><%= link_to 'Personas', people_path %></li>
          <li><%= link_to 'Estudiantes', students_path %></li>
          <li><%= link_to 'Pacientes', patients_path %></li>
          <li><%= link_to 'Cargos de Escuela', student_charges_path %></li>
          <li><%= link_to 'Cargos de CENAAC', patient_charges_path %></li>
          <li><%= link_to "Cerrar Sesión", logout_path, :method => "delete" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  </header>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
  <div class="container-fluid fill">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <% unless !current_user_session %>
              <li><%= link_to 'Categorias', categories_path %></li>
              <li><%= link_to 'Personas', people_path %></li>
              <li class="nav-header">Escuela</li>
              <li><%= link_to 'Estudiantes', students_path %></li>
              <li><%= link_to 'Cargos de Escuela', student_charges_path %></li>
              <li><%= link_to 'Pagos de Escuela', student_payments_path %></li>
              <li class="nav-header">CENAAC</li>
              <li><%= link_to 'Pacientes', patients_path %></li>
              <li><%= link_to 'Cargos de CENAAC', patient_charges_path %></li>
              <li><%= link_to 'Pagos de CENAAC', patient_payments_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="span9">
        <div class="hero-unit">
        <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
